body {
  background-color: #2649ad;
  background-image: url('../images/logo/tcg-cards-bg-graphic.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  margin: 0;
  min-height: 100vh;
}

.page-title {
  color: #fff;
  font-size: 3em;
  text-align: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.centered-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.card-wrapper {
  width: 90%;
  max-width: 367px;
  height: auto;
  aspect-ratio: 367 / 512;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.miniatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.miniature-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.miniature-card {
  background-color: #fff;
  width: 100px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 10px;
  overflow: hidden;
}

.miniature-card img {
  width: 100%;
  height: auto;
}

.return-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: none;
}

.return-button:hover {
  background-color: #555;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 768px) {
  .page-title {
      font-size: 2.5em;
  }

  .card-wrapper {
      width: 80%;
  }

  .centered-image {
      width: 80%;
  }
}

@media (max-width: 480px) {
  .page-title {
      font-size: 2em;
      margin-top: 20px;
  }

  .card-wrapper {
      width: 100%;
      margin: 10px auto;
  }

  .miniature-card {
      width: 80px;
      height: 112px;
  }

  .return-button {
      width: 90%;
      font-size: 14px;
  }
}
